p{
    color: white !important;
}
i{
    color: white;
}
.order{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
        .container{
            padding-top: 3%;
            padding-left: 4%;
            width: 65%;
            height: 75vh;
            background-color: black;
            position: absolute;
            top: 130px;
                .heading{
                    h2{
                        color: white;
                        font-size: 44px;
                    }
                }
                .text{
                    p{
                        color: white;
                        font-size: 14px;
                    }
                }
                .active{
                    width: 200px;
                    height: 30px;
                    border-radius: 45px;
                    border: 1px solid white;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                        .text1{
                            h4{
                                margin-top: 5px;
                                font-size: 1rem;
                                color: white;
                            }
                        }
                        .greenball{
                            i{
                                margin-bottom: 7px;
                                border: 1.5px solid white;
                                border-radius: 45px;
                                color: green;
                                font-size: 10px;
                            }
                        }
                }
                .btnctn{
                    margin-top: 30px;
                    width: 50%;
                    height: 40px;
                    background-color: aquamarine;
                    display: flex;
                    justify-content: space-between;
                        .btn1{
                            border: 0.5px solid grey;
                            width: 50%;
                            background-color: black;
                            color: grey;
                        }
                        .btn2{
                            border: 0.5px solid grey;
                            background-color: black;
                            width: 50%;
                            color: grey;
                        }
                }
                .textleft{
                    width: 80%;
                    display: flex;
                    gap: 15px;
                    margin-top: 20px;
                }
                .bigbox{
                    margin-top: 120px;
                    width: 90%;
                    height: 30%;
                    border: 1px solid grey;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                        h2{
                            font-size: 24px;
                            color: white;
                        }
                        p{
                            color: white;
                            font-size: 14px;
                        }
                }
                .beercont{
                    width: 100%;
                    height: 70vh;
                    // background-color: aqua;
                    display: flex;
                    flex-direction: column;
                    padding-top: 50px;
                        .beercont1{
                            display: flex;
                            flex-direction: column;
                                h2{
                                    color: white;
                                }
                                p{
                                    color: white;
                                }

                        }
                        .cntbeers{
                            width: 90%;
                            gap: 5px;
                            display: grid;
                            grid-template-areas: 
                            'beer1 beer2'
                            'beer3 beer4';
                                .beer{
                                    display: flex;
                                    border: 1px solid #5E5D55;
                                    background-color: #18170C;
                                        .right{
                                            width: 270px;
                                                .heading{
                                                    h3{
                                                        font-size: 1.5rem;
                                                        color: white;
                                                    }
                                                }
                                                .price{
                                                    h3{
                                                        font-size: 1.5rem;
                                                        color: white;
                                                    }
                                                }
                                        }
                                        .left1{
                                            width: 100px;
                                            height: 183px;
                                            background-image: url(https://static.wixstatic.com/media/e961b53fa5de280614b0e684b6ee2abb.jpg/v1/fill/w_270,h_270,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/e961b53fa5de280614b0e684b6ee2abb.jpg);
                                            background-position: center center;
                                            background-size: cover;
                                        }
                                        .left2{
                                            width: 100px;
                                            height: 183px;
                                            background-image: url(https://static.wixstatic.com/media/35d613d3af85cac992aee24ce4c5f365.jpg/v1/fill/w_270,h_270,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/35d613d3af85cac992aee24ce4c5f365.jpg);
                                            background-position: center center;
                                            background-size: cover;
                                        }
                                        .left3{
                                            width: 100px;
                                            height: 183px;
                                            background-image: url(https://static.wixstatic.com/media/f7f1a1bdb3b27f85ad27a5a4edf470f8.jpg/v1/fill/w_270,h_270,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f7f1a1bdb3b27f85ad27a5a4edf470f8.jpg);
                                            background-position: center center;
                                            background-size: cover;

                                        }
                                        .left4{
                                            width: 100px;
                                            height: 183px;
                                            background-image: url(https://static.wixstatic.com/media/a53a6e9a81969aae26b124204775c55d.jpg/v1/fill/w_270,h_270,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/a53a6e9a81969aae26b124204775c55d.jpg);
                                            background-position: center center;
                                            background-size: cover;
                                        }
                                
                                }
                        }
                }    
        }

}
.backimg{
    margin-top: 100px !important;
}
@media screen and (max-width: 1186px) {
    .container{
        padding-top: 3%;
        padding-left: 4%;
        width: 65%;
        height: 100vh;
        background-color: black;
        position: absolute;
        top: 130px;
    }
    .cntbeers{
        width: 100%;
        gap: 5px;
        display: grid;
        grid-template-areas: 
        'beer1'
        'beer2'
        'beer3'
        'beer4'
        !important;
    }
    .beercont{
        width: 100%;
        height: 100vh;
        // background-color: aqua;
        display: flex;
        flex-direction: column;
        padding-top: 50px;
    }
    .order{
        height: 135vh;
    }
}
@media screen and (max-width: 937px){
    .order{
        height: 140vh;
    }
}
@media screen and (max-width: 621px){
    .order{
        width: 100%;
        height: 180vh;

    }
    .container{
        width: 100%;

    }
    .beer{
        max-width: 65%;
    }
}
@media screen and (max-width: 400px){
    .order{
        width: 100%;
        height: 195vh;

    }

}