
p{
    color: white;
    font-size: 0.8rem !important;
}
main{
    // margin-top: 130px;
    width: 100%;
    height: 100vh;
}
.ourstory{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    // margin-top: 130px;
        .bigcont{
            width: 65%;
            height: 100vh;
            background-color: black;
            gap: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 130px;
        
            .up{
                margin-top: 400px;
                width: 80%;
                height: 70vh;
                display: flex;
                gap: 2%;
                    .left{
                        background-image: url(https://static.wixstatic.com/media/41d000_420ac215f8912ed683e9c427f472c3fe.jpg/v1/fill/w_480,h_780,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/41d000_420ac215f8912ed683e9c427f472c3fe.jpg);
                        width: 30%;
                        height: 100%;
                        background-position: center center;
                        background-size: cover;
                    }
                    .right{
                        width: 68%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;

                            .rup{
                                h2{
                                    color: white !important;
                                    font-size: 2.2rem !important;
                                }
                            }
                            .rline{
                                width: 90%;
                                border: 0.5px dashed grey;
                            }
                            .rtext{
                                padding-top: 20px;
                                p{
                                    font-family: 'Times New Roman', Times, serif;
                                    font-size: 12px;
                                }
                            }
                    }
            }
            .line{
                width: 80%;
                border: 0.5px solid grey;
            }
            .down{
                width: 80%;
                height: 700vh;
                display: flex;
                gap: 2%;
                    .left2{
                        background-image: url(https://static.wixstatic.com/media/41d000_cac1cfb4e89038c799c1685b46373f47.jpg/v1/fill/w_480,h_780,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/41d000_cac1cfb4e89038c799c1685b46373f47.jpg);
                        width: 30%;
                        height: 100%;
                        background-position: center center;
                        background-size: cover;
                    }
                    .right{
                        width: 68%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;

                            .rup{
                                h2{
                                    color: white !important;
                                    font-size: 2.2rem !important;
                                }
                            }
                            .rline{
                                width: 90%;
                                border: 0.5px dashed grey;
                            }
                            .rtext{
                                padding-top: 20px;
                                p{
                                    font-family: 'Times New Roman', Times, serif;
                                    font-size: 12px;
                                }
                            }
                    }
            }
        }
}
@media screen and (max-width: 1244px) {
    .ourstory{
        height: 110vh;
    }
}
@media screen and (max-width: 1144px) {
    .bigcont{
        width: 65%;
        height: 100vh;
    }
}
